<div horizontal center-justified layout>
  <paper-shadow class="details-card" z="3" style="width:800px">
    <div vertical layout style="width:800px;padding:20px;">
      <div horizontal around-justified layout center>
        <paper-shadow z="1"><img style="height:55px;width:88px;border-radius:4px;" src="img/caribbean.jpg"/></paper-shadow>
        <paper-shadow z="1"><img style="height:55px;width:88px;border-radius:4px;" src="img/caribbean.jpg"/></paper-shadow>
        <paper-shadow z="1"><img style="height:55px;width:88px;border-radius:4px;" src="img/caribbean.jpg"/></paper-shadow>
        <paper-shadow z="1"><img style="height:55px;width:88px;border-radius:4px;" src="img/caribbean.jpg"/></paper-shadow>
        <paper-shadow z="1"><img style="height:55px;width:88px;border-radius:4px;" src="img/caribbean.jpg"/></paper-shadow>
      </div>
    </div>
  </paper-shadow>
</div>