<div vertical layout class="found-container" style="background-image: url('img/treasure-hunt.jpg')">
  <div vertical layout>
    <div horizontal around-justified layout center>
      <div class="found-text-container">
        <h2 class="found-text">Trip Treasure Hunt!</h2>
      </div>
    </div>
    <div class="trip-details-container" vertical layout>
      <div horizontal center-justified layout>
        <paper-shadow class="details-card" z="3" style="width:800px">
          {{#link-to 'trips'}}
            <div vertical layout style="width:800px;padding:20px;">
              <div horizontal around-justified layout center>
                Play Yer Game [skull pic]
              </div>
            </div>
          {{/link-to}}
        </paper-shadow>
      </div>
    </div>
  </div>
</div>